venv/
__pycache__/
*.pyc
*.log
*.pem
gunicorn_net.*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and databases
*.log
*.sqlite3

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Python environment variables and cache
.env
.env.*

# System files
.DS_Store
Thumbs.db

# Unit test / coverage reports
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
